html, body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(1.33)'%3E%3Cpath data-color='fill' fill='none' stroke='%23DD7D50' stroke-width='3.42' d='M50 0C22.4 0 0 22.4 0 50c27.6 0 50-22.4 50-50zM0 50c0 27.6 22.4 50 50 50 0-27.6-22.4-50-50-50zM100 50c-27.6 0-50 22.4-50 50 27.6 0 50-22.4 50-50zM100 50c0-27.6-22.4-50-50-50 0 27.6 22.4 50 50 50z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.whole-page {
    height: calc(100% - 56px);
}

nav {
    background-color: #864d32;
}

h1, h3, h4, p, li, legend, label, td {
    font-family: 'Arial', sans-serif;
    color: #3b1605 !important;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
}

legend {
    font-size: 22px;
}

a {
    font-family: 'Arial', sans-serif;
    color: #3b1605;
}

a:hover {
    color: #b34512;
}

input, button, option, select {
    border-radius: 5px !important;
    border-width: 0;
    background-color: #fffede;
}

.btn {
    background-color: #fffede !important;
    margin: 10px 0px;
}

canvas {
    border-radius: 10px;
    background-color: #fffede;
}

.flash-msg {
    margin: 0;
}

#alert-col {
    padding: 0 !important;
}

.alert-primary {
    margin: 0 !important;
    background-color: #feae62 !important;
}

#login-content-row {
    width: 500px;

}

#login-content, #create-account-content, #change-pw-col {
    border-radius: 10px;
    padding: 35px 50px;
    background-color: #dd7d50;
}

#dash-contents-col {
    width: calc(100% - 100px);
    background-color: #dd7d50;
}

#settings-col {
    background-color: #dd7d50;
}

#dbt-buddy {
    margin-bottom: 50px;
}

#welcome, #change-pw-header {
    margin-bottom: 20px;
}

.spaced-input {
    margin-bottom: 10px;
}

#pw-prompt {
    margin: 10px 0px 0px;
}

.smaller-legend {
    font-size: 18px;
    margin: 0;
}

.smaller-text {
    font-size: 14px;
}

#show-med-rem {
    display: none;
}

#edit-today-form {
    display: none;
    width: 160px;
    background-color: #ff9665;
}

#preferences input, #preferences label {
    display: none;
}

.visual-data {
    display: inline-block;
    position: relative;
    width: 49%;
}

#view-week {
    display: inline-block;
    padding: 10px;
    background-color: #fffede;
    border-radius: 5px;
}

table, td {
    border-width: 1px;
}

td {
    width: 60px;
}

.score-name {
    width: 90px;
}

#make-entry-buttons {
    display: inline-block;
}

.make-entry-button {
    display: block;
}

#preferences h4, .text-pref, .radio-pref {
    display: inline-block;
}

#change-pw-form input {
    display: block;
}