/* Main Stylesheet for DBT Buddy */

/* Whole page/background */

html, body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(1.33)'%3E%3Cpath data-color='fill' fill='none' stroke='%23DD7D50' stroke-width='3.42' d='M50 0C22.4 0 0 22.4 0 50c27.6 0 50-22.4 50-50zM0 50c0 27.6 22.4 50 50 50 0-27.6-22.4-50-50-50zM100 50c-27.6 0-50 22.4-50 50 27.6 0 50-22.4 50-50zM100 50c0-27.6-22.4-50-50-50 0 27.6 22.4 50 50 50z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.whole-page {
    height: calc(100% - 56px);
}

nav {
    background-color: #864d32;
}

/* Text and text-like elements */

h1, h3, h4, p, li, legend, label, td {
    font-family: 'Arial', sans-serif;
    color: #3b1605 !important;
}

#preferences h4, .text-pref, .radio-pref {
    display: inline-block;
}

#dbt-buddy {
    margin-bottom: 50px;
}

#welcome, #change-pw-header {
    margin-bottom: 20px;
}

.smaller-text, td, #edit-today-form label {
    font-size: 14px;
}

a {
    font-family: 'Arial', sans-serif;
    color: #3b1605;
}

a:hover {
    color: #b34512;
}

p {
    margin-bottom: 10px;
}

#used-skills-guide p {
    margin: 0;
}

#pw-prompt {
    margin: 10px 0px 0px;
}

legend {
    font-size: 22px;
}

.smaller-legend {
    font-size: 18px;
    margin: 0;
}

#new-entry-col legend {
    margin: 10px 0px 0px;
}

ul {
    margin-bottom: 10px;
}

/* Inputs, buttons, and the like */

input, button, option, select {
    border-radius: 5px !important;
    border-width: 0;
    background-color: #fffede;
}

input, option, select {
    height: 24px;
}

.spaced-input {
    margin-bottom: 10px;
}

#mood-inputs input, #urge-inputs input, #used-skills-inputs input {
    margin-right: 10px;
    width: 93px;
}

#change-pw-form input {
    display: block;
}

.btn {
    background-color: #fffede !important;
    height: 30px;
    margin: 10px 0px;
}

#make-entry-buttons {
    display: inline-block;
}

.make-entry-button {
    display: inline-block;
}

/* Charts */

.visual-data {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 300px;
}

canvas {
    border-radius: 5px;
    background-color: #fffede;
    height: 100% !important;
}

/* Alerts */

.flash-msg {
    margin: 0;
}

#alert-col {
    padding: 0 !important;
}

.alert-primary {
    margin: 0 !important;
    background-color: #feae62 !important;
}

/* Solid color content backgrounds */

#login-content, #create-account-content, #change-pw-col {
    border-radius: 10px;
    padding: 35px 50px;
    background-color: #dd7d50;
}

#settings-col, #new-entry-col, #dash-contents-col {
    background-color: #dd7d50;
}


#dash-contents-col {
    width: calc(100% - 100px);
    min-width: 700px;
}

#dash-row {
    height: calc(82% - 56px);
    min-height: 326px;
}

#table-col, #chart-col {
    height: 100%;
}

/* Weekly diary card table */

#view-week {
    display: inline-block;
    padding: 10px;
    background-color: #fffede;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-width: 300px;
}

table, td {
    border-width: 1px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: calc(100% / 10);
    height: calc(100% / 12);
}

.score-name {
    min-width: 75px !important;
}

/* Stuff that is hidden by default */

#show-med-rem {
    display: none;
}

#edit-today-form {
    display: none;
    background-color: #ff9665;
    min-width: 170px;
}

#preferences input, #preferences label {
    display: none;
}