{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div class="container-fluid d-flex whole-page justify-content-center">

  <div class="row h-100 w-100 justify-content-center" id="change-pw-row">
    <div 
      class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 align-self-center" 
      id="change-pw-col"
    >
      <div class="row" id="header-row">
        <div class="col-12" id="header-col">
          <h1 class="text-center" id="change-pw-header">Change Password</h1>
        </div>
      </div>

      <div class="row justify-content-center" id="change-pw-form-row">
        <div class="col-10 col-xl-9 col-xxl-8" id="change-pw-form-col">  
          <form id="change-pw-form">
            <div>
              <label for="current-password-input" hidden>
                Current Password
              </label>
              <input
                class="spaced-input"
                type="password"
                name="current-password"
                placeholder="Current Password"
                id="current-password-input"
                minlength="8"
                required
              >
            </div>

            <div>
              <label for="new-password-input-1" hidden>
                New Password
              </label>
              <input
                class="spaced-input"
                type="password"
                name="new-password-1"
                placeholder="New Password"
                id="new-password-input-1"
                minlength="8"
                required
              >
            </div>

            <div>
              <label for="current-password-input-2" hidden>
                Retype New Password
              </label>
              <input
                class="spaced-input"
                type="password"
                name="new-password-2"
                placeholder="Retype New Password"
                id="new-password-input-2"
                minlength="8"
                required
              >
            </div>

            <div>
              <p>Password must contain at least one:</p>
              <ul>
                <li>Upper case letter</li>
                <li>Lower case letter</li>
                <li>Digit (0-9)</li>
                <li>Special Character (!, @, #, $, %, etc.)</li>
              </ul>
            </div>

            <div>
              <input type="submit" value="Change Password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block after_body %}
  <script src="/static/js/changePassword.js"></script>
{% endblock %}