{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
  <h1>Change Password</h1>
  <form>
    <div>
      <label for="current-password-input">Current Password</label>
      <input
        type="password"
        name="current-password"
        id="current-password-input"
        minlength="8"
        required
      >
    </div>

    <div>
      <label for="new-password-input-1">New Password</label>
      <input
        type="password"
        name="new-password-1"
        id="new-password-input-1"
        minlength="8"
        required
      >
    </div>

    <div>
      <label for="current-password-input-2">Retype New Password</label>
      <input
        type="password"
        name="new-password-2"
        id="new-password-input-2"
        minlength="8"
        required
      >
    </div>

    <div>
      <p>Password must contain at least one:</p>
      <ul>
        <li>Upper case letter</li>
        <li>Lower case letter</li>
        <li>Digit (0-9)</li>
        <li>Special Character (!, @, #, $, %, etc.)</li>
      </ul>
    </div>

    <div>
      <input type="submit" value="Change Password">
    </div>
  </form>
{% endblock %}

{% block after_body %}
  <script src="/static/js/changePassword.js"></script>
{% endblock %}