<!doctype html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Create an Account</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <h1>Welcome to DBT Buddy</h1>

  <div id="create-account">
    <h3>Create Account</h3>

    <form action="/create-account" method="POST" id="create-account-form">

      <fieldset>
        <legend>Your Info</legend>11`
        <div>
          First Name <input type="text" name="fname">
        </div>

        <div>
          Email <input type="text" name="email">
        </div>

        <div>
          Password <input type="password" name="password">
        </div>

        <div>
          Retype Password <input type="password" name="password-2">
        </div>

        <!-- Fix this after regular expressions -->
        <div>
          Phone Number <input type="tel" name="phone-number">
        </div>
      </fieldset>

      <fieldset>
        <legend>Preferences</legend>

        <label for="e-rem">
          Would you like to receive entry reminders?
        </label>
        <div id="e-rem">
          <input type="radio" name="entry-reminders" value="yes" id="e-rem-yes">
          <label for="e-rem-yes">Yes</label>
          <input type="radio" name="entry-reminders" value="no" id="e-rem-no">
          <label for="e-rem-no">No</label>
        </div>

        <label for="med-track">
          Would you like to track your daily medications?
        </label>
        <div id="med-track">
          <input type="radio" name="med-tracking" value="yes" id="m-track-yes">
          <label for="m-track-yes">Yes</label>
          <input type="radio" name="med-tracking" value="no" id="m-track-no">
          <label for="m-track-no">No</label>
        </div>

        <div id="show-med-rem">
          <label for="med-rem">
            If so, would you like to receive reminders to take your medication?
          </label>
          <div id="med-rem">
            <input type="radio" name="med-reminders" value="yes" id="m-rem-yes">
            <label for="m-rem-yes">Yes</label>
            <input type="radio" name="med-reminders" value="no" id="m-rem-no">
            <label for="m-rem-no">No</label>
          </div>
        </div>
      </fieldset>

      <div>
        Submit <input type="submit">
      </div>
    </form>
  </div>
  <script src="/static/js/createAccount.js"></script>
</body>

</html>