{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block body %}
<h1>Hi {{ session.get("fname") }}</h1>

{% if show_edit %}
  <button id="edit-today">Edit Today's Entry</button>

  <div id="edit-today-form">
    <form>
      <fieldset>
        <legend>Emotions</legend>
        <div>
          <label for="sad">Sadness: </label>
          <input 
            type="number" 
            name="sad" 
            value="{{ entries[0]['sad score'] }}" 
            id="sad" 
            min="0" 
            max="5"
          >
        </div>
        <div>
          <label for="angry">Anger: </label>
          <input 
            type="number" 
            name="angry" 
            value="{{ entries[0]['angry score'] }}" 
            id="angry" 
            min="0" 
            max="5"
          >
        </div>
        <div>
          <label for="fear">Fear: </label>
          <input 
            type="number" 
            name="fear" 
            value="{{ entries[0]['fear score'] }}" 
            id="fear" 
            min="0" 
            max="5"
          >
        </div>
        <div>
          <label for="happy">Happiness: </label>
          <input 
            type="number" 
            name="happy" 
            value="{{ entries[0]['happy score'] }}" 
            id="happy" 
            min="0" 
            max="5"
          >
        </div>
        <div>
          <label for="shame">Shame: </label>
          <input 
            type="number" 
            name="shame" 
            value="{{ entries[0]['shame score'] }}" 
            id="shame" 
            min="0" 
            max="5"
          >
        </div>
      </fieldset>
      <fieldset>
        <legend>Urges</legend>
        <div>
          <label for="urge-1">{{ urges[0].description }}: </label>
          <input 
            type="number" 
            name="urge-1" 
            value="{{ entries[0]['urge1 score'] }}" 
            id="urge-1" 
            min="0" 
            max="5"
          >
        </div>
        <div>
          <label for="urge-2">{{ urges[1].description }}: </label>
          <input 
            type="number" 
            name="urge-2" 
            value="{{ entries[0]['urge2 score'] }}" 
            id="urge-2" 
            min="0" 
            max="5"
          >
        </div>
        <div>
          <label for="urge-3">{{ urges[2].description }}: </label>
          <input 
            type="number" 
            name="urge-3" 
            value="{{ entries[0]['urge3 score'] }}" 
            id="urge-3" 
            min="0" 
            max="5"
          >
        </div>
      </fieldset>
      <fieldset>
        <legend>Actions</legend>
        <div id="action-1">
          <label for="action-1">{{ actions[0].description }}: </label>
          {% if entries[0]['action1 score'] == 'yes' %}
            <input 
              type="radio" 
              name="action-1" 
              value="yes" 
              id="action-1-yes" 
              checked="checked"
            >
            <label for="action-1-yes">Yes</label>
            <input 
              type="radio" 
              name="action-1" 
              value="no" 
              id="action-1-no"
            >
            <label for="action-1-no">No</label>
          {% else %}
            <input 
              type="radio" 
              name="action-1" 
              value="yes" 
              id="action-1-yes"
            >
            <label for="action-1-yes">Yes</label>
            <input 
              type="radio" 
              name="action-1" 
              value="no" 
              id="action-1-no"
              checked="checked"
            >
            <label for="action-1-no">No</label>
          {% endif %}
        </div>
        <div id="action-2">
          <label for="action-2">{{ actions[1].description }}: </label>
          {% if entries[0]['action2 score'] == 'yes' %}
            <input 
              type="radio" 
              name="action-2" 
              value="yes" 
              id="action-2-yes" 
              checked="checked"
            >
            <label for="action-2-yes">Yes</label>
            <input 
              type="radio"
              name="action-2" 
              value="no" 
              id="action-2-no"
            >
            <label for="action-2-no">No</label>
          {% else %}
            <input 
              type="radio" 
              name="action-2" 
              value="yes" 
              id="action-2-yes"
            >
            <label for="action-2-yes">Yes</label>
            <input 
              type="radio" 
              name="action-2" 
              value="no"
              id="action-2-no" 
              checked="checked"
            >
            <label for="action-2-no">No</label>
          {% endif %}
        </div>
      </fieldset>
      <fieldset>
        <legend>Used Skills</legend>
        <div id="used-skills-guide">
          <span>0 = Not thought about or used</span><br>
          <span>1 = Thought about, not used, didn't want to</span><br>
          <span>2 = Thought about, not used, wanted to</span><br>
          <span>3 = Tried but couldn't use them</span><br>
          <span>4 = Tried, could use them but they didn't help</span><br>
          <span>5 = Tried, could use them, helped</span><br>
          <span>6 = Didn't try, used them, didn't help</span><br>
          <span>7 = Didn't try, used them, helped</span><br>
        </div>
        <div>
          <label for="used-skills">Used Skills</label>
          <input 
            type="number" 
            name="used-skills" 
            value="{{ entries[0]['skills used'] }}" 
            id="used-skills" 
            min="0" 
            max="7"
          >
        </div>
      </fieldset>
      <div>
        <input type="submit">
      </div>
    </form>
  </div>
{% endif %}

  {% for entry in entries %}
    <div class="diary-day">

      {% if entry == None %}
      <p>No Entry</p>

      {% else %}
      <h4>{{ entry["date"] }}</h4>
      <p>Sadness: {{ entry["sad score"] }}</p>
      <p>Anger: {{ entry["angry score"] }}</p>
      <p>Fear: {{ entry["fear score"] }}</p>
      <p>Happiness: {{ entry["happy score"] }}</p>
      <p>Shame: {{ entry["shame score"] }}</p>
      <p>{{ urges[0].description }}: {{ entry["urge1 score"] }}</p>
      <p>{{ urges[1].description }}: {{ entry["urge2 score"] }}</p>
      <p>{{ urges[2].description }}: {{ entry["urge3 score"] }}</p>
      <p>{{ actions[0].description }}: {{ entry["action1 score"] }}</p>
      <p>{{ actions[1].description }}: {{ entry["action2 score"] }}</p>
      <p>Used Skills: {{ entry["skills used"] }}</p>
      {% endif %}
    </div>
  {% endfor %}

<a href="/new-diary-entry">Make a Diary Entry</a>
{% endblock %}

{% block after_body %}
  <script src="/static/js/dashboard.js"></script>
{% endblock %}